SVG.starsDistribution text {
    font-size: var(--fs-600);
}


rect.activeGenre {
   stroke: var(--clr-accent-100);
   stroke-width: 1;
   fill: var(--clr-accent-400);
}

rect.compGenre {
   stroke: none;
   stroke-width: 1;
   fill: var(--clr-primary-400);
   opacity: 0.8;
}


/* Y - A k s e l i */
g.yAxis path.domain {
   stroke: none;
}

.tick line {
   stroke:var(--clr-neutral-900);
   stroke-dasharray: 4;
}

g.yAxisLbl text {
   letter-spacing: var(--size-300);
   font-size: var(--fs-600);
   text-anchor: middle;
   transform: rotate(-90deg)
}

/* X - A k s e l i */
g.xAxis text {
   letter-spacing: var(--size-300); 
}