SVG.scatterplot {
  margin: var(--size-100);
}

SVG.scatterplot rect, SVG.scatterplot circle {
  fill: var(--clr-neutral-900);
  stroke: var(--clr-neutral-100);
}

SVG.scatterplot text {
  font-size: var(--fs-300);
  text-anchor: middle;
  fill: var(--clr-neutral-100);;
}

SVG.scatterplot G.tick text {
  font-size: var(--fs-300);
  text-anchor: middle;
  fill: var(--clr-neutral-900);;
}

SVG.scatterplot G.tick text.visually-hidden {
  opacity: 0;
}

.tick line.even {
  stroke: #c0c0BB;
}




/* 
 * T A B S 

.tab {
  overflow: hidden;
  border: none;
  padding: 5px 0 0 0;
  background-color: var(--clr-neutral-100);
}

.tab button {
  background-color: var(--clr-accent-500);
  float: left;

  border-radius: 5px 5px 0px 0px;
  border: none;
  margin-left: var(--size-200);
  outline: none;

  font-size: var(--fs-600);
  color: var(--clr-neutral-100);

  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: var(--clr-accent-400);
}

.tab button.active {
  background-color: var(--clr-neutral-900);
  cursor: default;
}

.taulukkoesitys {
  border-collapse: collapse; 
  width: 100%; 
  table-layout: auto; 
  font-size: var(--fs-600);
  overflow: hidden;

  margin-bottom: var(--size-500);
}

.taulukkoesitys thead tr {
  background-color: var(--clr-neutral-900);
}

.taulukkoesitys th {

  display: table-cell;
  padding: var(--size-200);
  text-align: left;

  color: var(--clr-neutral-100);
  cursor: default;
}

.taulukkoesitys th.sortingField {
  color: var(--clr-accent-500);
}

.taulukkoesitys th.sortable {
  cursor: pointer;
}


@media (max-width: 50em) {

  .taulukkoesitys th {
    display: none;
  }

}

.taulukkoesitys tr {
  background-color:  var(--clr-accent-100);
}

.taulukkoesitys tr.linkToDetails { cursor: pointer; }

.taulukkoesitys tr:nth-of-type(even) { 
  background-color:  var(--clr-accent-500);
  color: var(--clr-neutral-100);
}

.taulukkoesitys tr:last-of-type {
  border-bottom: 2px solid var(--clr-accent-500);
}

.taulukkoesitys td {

  display: table-cell;
  padding: var(--size-200);
  text-align: left;

}

.taulukkoesitys td:before {
  display: none;
}

.taulukkoesitys td SVG {
  display: inline;
}



@media (max-width: 50em) {

  .taulukkoesitys td {
    display: block;
  }

  .taulukkoesitys td:first-child {
    padding-top: var(--size-200);
  }

  .taulukkoesitys td:last-child {
    padding-top: var(--size-200);
  }

  .taulukkoesitys td:before {
    content: attr(before);
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
  }

}


.pagination-and-search {

  padding: var(--size-200);
  display: flex;

}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: var(--size-200);

}

.pagination-container UL {

  display: flex;
  background: var(--clr-neutral-900);
  padding: var(--size-200);
  border-radius: var(--size-500);

}

.pagination-container LI {

  color: var(--clr-neutral-100);
  list-style: none;
  line-height: var(--size-600);
  font-size: var(--fs-body);
  font-weight: var(--fw-semi-bold);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;

}

.pagination-container LI.btn {
  padding: 0 20px;
}

.pagination-container LI.prev  {
  border-radius: 25px 5px 5px 25px;
}

.pagination-container LI.next  {
  border-radius: 5px 25px 25px 5p;
}

.pagination-container LI.numb  {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 0 3px;
}

.pagination-container LI.active,
.pagination-container LI.numb:hover,
.pagination-container LI.btn:hover {
  color: var(--clr-accent-400);
}

.pagination-container LI.active {
  background: var(--clr-accent-100);
}

.pagination-container LI.numb:hover,
.pagination-container LI.btn:hover {
  color: var(--clr-accent-400);
}


.search-container {
  margin-left: auto;
}

.search-container input {
  display:inline-block;
  padding: var(--size-400);
}


.togglable-container {}

.togglable-container button {
  display: block;
  width: 100%;

  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-100);

  padding: var(--size-100);
  font-size: var(--fs-600);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hideContent {
  display: none;
}

.togglable-icon {
  color: var(--clr-neutral-100);
  font-size: var(--fs-700);
}


.contentWrap {
  display: flex;
}

.main {
  flex: 4;
}

.aside {
  flex: 1
}


.checkBoxList-container {

  background-color: var(--clr-accent-100);
  padding: var(--size-100);

  display: flex;
  flex-direction: column;

}

.checkBoxList-container label {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;

  font-size: var(--fs-600);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkBoxList-container span {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--size-400);
  width:  var(--size-400);
  background-color: #ddd;
}

.checkBoxList-container span::after {
  content: "";
  position: absolute;
  display: none;   
}

.checkBoxList-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkBoxList-container input:checked ~ span {
  background-color: #2196F3;
}
*/

