/* A B O U T  P A G E */
.section-titleP{
  text-transform: uppercase;
  border-top: 2px double navy;
  border-bottom: 4px double navy;
  background-color: var(--clr-primary-400);
  color: var(--clr-accent-100);
  padding-left: var(--size-200);
}

/* L A N D I N G   P A G E */

#landingPage-title text {
  font-size: var(--fs-600);
  text-anchor: start;
  fill: var(--clr-primary-400);
  font-weight: var(--fw-bold);
}


SVG.scatterplot {
  margin: var(--size-100);
}

SVG.scatterplot rect, SVG.scatterplot circle {
  fill: var(--clr-neutral-900);
  stroke: var(--clr-neutral-100);
}

SVG.scatterplot text {
  font-size: var(--fs-300);
  text-anchor: middle;
  fill: var(--clr-neutral-100);;
}

SVG.scatterplot G.tick text {
  font-size: var(--fs-300);
  text-anchor: middle;
  fill: var(--clr-neutral-900);;
}

SVG.scatterplot G.tick text.visually-hidden {
  opacity: 0;
}

.tick line.even {
  stroke: #c0c0BB;
}



